<body>

  <header class="header-MapsCovid">

    <div class="header-title">

      <a href="https://coodesh.com" target="_blank">Coodesh</a>
      <h1>{{ title }}</h1>
      <div></div>

    </div>
    <div class="header-subtitle">
      CHALLENGE
    </div>


  </header>

  <main class="main-maps">

    <app-mapa-covid></app-mapa-covid>

  </main>

  <footer class="footer">
    <ul class="footer-manushare">
      <li><a href="https://github.com/weslleymart16" target="_blank" class="bi bi-github"></a></li>
      <li><a href="https://www.linkedin.com/in/weslley-martins-188614227/" target="_blank" class="bi bi-linkedin"></a></li>
    </ul>

    <p>Created by Weslley Martins</p>

  </footer>

</body>

