.header-MapsCovid {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/coronavirus-africa-cdc-1024x576.jpg);
  //background-color: #1266fb;
  color: white;
  text-shadow: 3px 3px rgb(5, 5, 5);
  font-weight: bold;
}

.header-title {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
  a {
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
  };
  h1 {
    margin-right: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 3px 3px rgb(5, 5, 5);

  }
}

.header-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 176);
  padding: 5px;
}

.footer {
  background-image: url(../assets/coronavirus-africa-cdc-1024x576.jpg);
  color: white;
  text-shadow: 2px 2px rgb(5, 5, 5);
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  li {
    display: inline-block;
    margin: 0 1em;
  };
  a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
  }
}

.footer-manushare {
  background: rgb(44, 44, 176);
  padding: 0.5em;
}




